header {
  width: 100%;
  z-index: 99;
  position: fixed;
  background-color: ghostwhite;
  padding: 20px 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 1300px;
  margin: auto;
  height: 70px;

}

.logo a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo a h1 {
  font-size: 17px;
  margin-left: 5px;
}

.logo img {
  width: 65px;
  height: 65px;
}

.navlist {
  display: flex;
}


.navlist li a {
  padding: 15px 15px;
  transition: all 0.3s ease;
}

.navlist li a:hover {
  background: #3A3B3C;
  color: #d1d1d1;
}

.navlist .mobile-item {
  display: none;
}

.navlist .drop-menu {
  position: absolute;
  background: #dddddd;
  width: 150px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.navlist li:hover .drop-menu {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

.navbar .btn {
  color: #000000;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.navbar .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

nav input {
  display: none;
}

#landing {
  position: relative;
  height: calc(100vh - 110px);
  width: 100%;
  gap: 50px;
  top: 110px;
}

#slider-wrap {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  height: calc(100vh - 110px);
}

#slider-wrap:after {
  padding-top: 40%;
  display: block;
  content: '';

}

#slider-wrap button {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  outline: 0;
  user-select: none;
  padding: 5px 5px 30px;
  background: transparent;
  border: 0;
  border-top: 1px solid #fff;
  transition: all 75ms ease-in;
}

#slider-wrap button:hover {
  border-top-width: 8px;
}

#slider-wrap .dark {
  color: black;
}

#prev {
  position: absolute;
  bottom: 1vw;
  left: 2vw;
  z-index: 9;
}

#next {
  position: absolute;
  bottom: 1vw;
  right: 2vw;
  z-index: 2;
}

#slider {
  background: #e1e1e1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  list-style-type: none;
  padding-left: 30px;
}

#slider h1 {
  color: #fff;
  font-size: 40px;
}

#slider p {
  color: #fff;
  width: 700px;
  font-size: 18px;
}

#slider p:nth-of-type(2) {
  margin-top: 10px;
}

#slider p:nth-of-type(3) {
  margin-top: 10px;
  color: #ff8d63;
}

#slider li:nth-child(2) h2 {
  color: lightsalmon;
  margin-bottom: 15px;
}

#slider li:nth-child(3) p {
  color: whitesmoke;
}

#slider h1,
#slider h2,
#slider p {
  text-align: left;
  /* Align text to the left */
  margin-left: 50px;
}

.slide {
  position: absolute;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing {
  opacity: 1;
  z-index: 2;
}

#slider-dots {
  position: absolute;
  bottom: 30px;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 0);
}

#slider-dots span {
  border: 1px solid #fff;
  height: 10px;
  width: 10px;
  cursor: pointer;
  border-radius: 50px;
  float: left;
  display: block;
  margin: 0 2px;
  transition: all 75ms ease-in;
}

#slider-dots span:hover, #slider-dots span.active {
  background: #fff;
}

#aboutus {
  position: relative;
  height: calc(100vh - 110px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  top: 110px;
  background-color: #f1f1f1;
}

.about {
  display: flex;
  align-items: center;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  height: 80%;
}

.welcome {
  width: 90%;
  height: 100%;
}

.welcome h1 {
  margin-bottom: 20px;
}

.youtube-container {
  position: relative;
  overflow: hidden;
}

.youtube-container iframe {
  width: 95%;
  /* Make the iframe responsive */
  height: 90%;
}

.ouryear {
  width: 90%;
  height: 100%;
  overflow: auto;
}

.ouryear h1 {
  margin-bottom: 15px;
}

.ouryear span {
  font-size: 20px;
  font-style: italic;
  margin-top: 20px;
}

.ouryear p {
  font-size: 0.94em;
  line-height: 1.55;
}


#dailybibleverse {
  background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
  position: relative;
  height: calc(100vh - 110px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 110px;
}

.dailybibleverse {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  height: 80%;
  gap: 50px;
  text-align: center;
}

.verseoftheday {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 100%;
  gap: 30px;
}

.verseoftheday h1 {
  font-size: 45px;
  color: white;
}

#dailyverseswrapper {
  border-left: solid 8px orangered;
  border-radius: 5px;
}

.bibleimg {
  width: 100%;
  height: 100%;
}

.bibleimg img {
  width: 100%;
  height: 100%;
  border-radius: 3%;
}

#dailyVersesWrapper {
  background-color: #ffffff;
  height: 100%;
}

.bibleText {
  font-size: 20px;
}

.dailyVerses.bibleVerse {
  color: orangered;
  margin-top: .5em;
}

.dailyVerses.bibleVerse a {
  font-weight: bold;
}

.dailyVersaes a {
  font-size: 15px;
}

#theteam {
  position: relative;
  height: calc(100vh - 110px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  top: 110px;
}

.theteam {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 88%;
}

.teamcontainer {
  text-align: center;
  width: 50%;
  height: 100%;
}

.teamcontainer h1 {
  color: #1e3c72;
}

.line {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 10%;
  height: 1.5%;
  background-color: chocolate;
}

.teampix img {
  width: 68%;
  border-radius: 5px;
  margin-bottom: 5px;
}

.teamtext {
  line-height: 1.5;
}

.servicetime {
  width: 25%;
  height: 100%;
}

.serviceline {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 15%;
  height: 1.5%;
  background-color: chocolate;
}

.servicetime h1 {
  color: #1e3c72;
}

.servicetime p:nth-of-type(2) {
  color: #1e3c72;
  font-size: 15px;
}

.servicedays {
  line-height: 2;
}

.zoomlink {
  width: 25%;
  color: #1e3c72;
}

.zoomlink h3 {
  color: black;
  margin-top: 20px;
}

.zoomlink p:first-of-type{
  color: black;
  margin-top: 20px;
  line-height: 1.5;
}

.zoomlink p a {
  margin-top: 5%;
    display: inline-block;
    font-size: 1em;
    line-height: 1.84;
    letter-spacing: 0.0625em;
    text-align: center;
    color: #000;
    border-radius: 4px;
    padding: 12px 30px 17px;
    background-color: chocolate;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#aboutrccg {
  position: relative;
  height: calc(100vh - 110px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  top: 110px;
  background-color: #3f4183;
}

.aboutrccg {
  width: 90%;
  height: 90%;
  display: flex;
  gap: 50px;
}

.goimg {
  background-image: url("../images/eadeboye.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  width: 50%;
  height: 100%;
}

.rccg {
  width: 50%;
  height: 100%;
}

.rccg h1 {
  color: white;
  margin-bottom: 25px;
}

.rccg p {
  margin-top: 25px;
  font-size: 15px;
  color: whitesmoke
}

#contactus {
  position: relative;
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  top: 110px;
}

.contactus {
  width: 65%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.address {
  width: 60%;
  height: 100%;
  color: #1e3c72;
}

.address h1 {
  margin-bottom: 30px;
}

.contactline {
  margin-top: 10px;
  margin-bottom: 25px;
  width: 15%;
  height: 1.5%;
  background-color: chocolate;
}
 
.address ul li {
  margin-top: 10px;
  display: flex;
  align-items: center;
  font-size: 17px;
  padding-bottom: 24px;
  border-bottom: solid 1px rgba(105, 105, 105, 0.05);
}

.address ul li i{
  margin-right: 30px;
}


.donation {
  width: 40%;
  height: 100%;
}

.donation h1{
  color: #1e3c72;
}

.donation p{
  color: #1e3c72;
}

.donation h3{
  margin-top: 15px;
  color: chocolate;
}

.donation ul li{
  color: #1e3c72;
  margin-top: 10px;
}

.donationline {
  margin-top: 20px;
  margin-bottom: 25px;
  width: 15%;
  height: 1.5%;
  background-color: chocolate;
}




footer {
  position: relative;
  /* Change fixed to absolute */
  bottom: -100px;
  width: 100%;
  text-align: center;
  background-color: #ddd;
  padding: 10px 0;
}



/* section start */
#sectionlanding {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;  
  top: 110px;
  background-color: #e4e4e4;
}

.sectioncontainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  margin: 60px 0;
}

.sectionclassone {
  width: 60%;
}

.sectionclassone h1 {
  color: #1e3c72;
}

.sectionclasstwo {
  width: 30%;
  margin-bottom: 30px;
}


.sectionline {
  margin: 15px 0;
  width: 15%;
  height: 8px;
  background-color: chocolate;
}

.sectionclasstwo h1 {
  color: #1e3c72;
}

.sectionclasstwo p:nth-of-type(2) {
  color: #1e3c72;
  font-size: 15px;
}

.sectionservicedays {
  line-height: 2;
}

.sectionzoomlink {
  width: 100%;
  color: #1e3c72;
  margin-top: 30px;
}

.sectionzoomlink h3 {
  color: black;
  margin-top: 40px;
}

.sectionzoomlink p:first-of-type{
  color: black;
  margin-top: 20px;
  line-height: 1.5;
}

.sectionzoomlink p a {
  margin-top: 5%;
    display: inline-block;
    font-size: 1em;
    line-height: 1.84;
    letter-spacing: 0.0625em;
    text-align: center;
    color: #000;
    border-radius: 4px;
    padding: 12px 30px 17px;
    background-color: chocolate;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.bullet-points li {
  margin-top: 30px;
  padding-left: 1.5em;
}

.bullet-points li:before {
  content: "\2020"; /* Unicode character for bullet point */
  display: inline-block;
  color: #000; /* Bullet point color */
  font-size: 1.5em; /* Bullet point size */
  width: 1em; /* Adjust the width as needed */
  margin-left: -1em; /* Offset to align with text */
}

.map {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}



/* section end */




@media screen and (max-width: 991px) {

  body {
    overflow-x: hidden;
  }

  .navbar .btn {
    display: block;
  }

  .navbar .navlist {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #bdbdbd;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }

  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #242526;
  }

  ::-webkit-scrollbar-thumb {
    background: #3c3a3a;
  }

  #menu-btn:checked~.navlist {
    left: 0%;
  }

  #menu-btn:checked~.btn.menu-btn {
    display: none;
  }

  #close-btn:checked~.btn.menu-btn {
    display: block;
  }

  .navlist li {
    margin: 15px 10px;
  }

  .navlist li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }

  .navlist .drop-menu {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }

  #showDropAboutus:checked~.drop-menu {
    max-height: 100%;
  }

  #showDrop:checked~.drop-menu {
    max-height: 100%;
  }

  #showDropMinistries:checked~.drop-menu {
    max-height: 100%;
  }

  .navlist .desktop-item {
    display: none;
  }

  .navlist .mobile-item {
    display: block;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .navlist .mobile-item:hover {
    background: #3A3B3C;
    color: #d1d1d1;
  }

  .drop-menu li {
    margin: 0;
  }

  .drop-menu li a {
    border-radius: 5px;
    font-size: 18px;
  }

  #slider p {
    width: 80%;
  }

  #aboutus {
    height: 112vh;
  }

  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 60px;
  }

  .ouryear p {
    overflow-wrap: break-word;
    line-height: 2;
    width: 90%;
  }

  #dailybibleverse {
    height: 90vh;
  }

  .dailybibleverse {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .verseoftheday {
    width: 100%;
  }

  #theteam {
    height: 150vh;
  }

  .theteam {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .teamcontainer {
    width: 100%;
  }

  .servicetime,
  .zoomlink {
    width: 100%;
  }

  .servicetime {
    margin-top: 30px;
    padding-left: 60px;
  }

  #aboutrccg {
    height: 200vh;
  }

  .aboutrccg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .goimg {
    width: 100%;
  }

  .rccg {
    width: 100%;
    line-height: 35px;
  }

  .zoomlink {
    padding: 0 60px;
    gap: 30px;
  }

  #contactus {
    height: 85vh;
  }
  
  .contactus {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .address {
    width: 100%;
    margin-top: 40px;
  }

  .donation {
    width: 100%;
  }

  .watchthisspace {
    width: 100%;
  }

  /* section start */
  .sectioncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .sectionclassone {
    width: 90%;
  }
  
  .sectionclasstwo {
    width: 90%;
    margin-top: 30px;
  }
  
  
  /* section us end */

}



@media screen and (max-width: 520px) {

  .navbar {
    display: flex;
    flex-direction: column;
    height: 90px;

  }

  .logo a h1 {
    font-size: 10px;

  }

  #slider {
    padding-left: 20px;
    /* Adjust left padding */
    padding-right: 20px;
    /* Add right padding to limit the width */
  }

  #slider h1,
  #slider h2,
  #slider p {
    text-align: center;
    margin: 0 auto;
  }


  


}